<div *ngIf="aboutService.about != null">
  <p>{{aboutService.about.text}}</p>
  <div class="right">
    <app-photos [photos]="aboutService.about.pictures" [width]="1"></app-photos>
    <div class="card get-connected">
      <div *ngIf="aboutService.about.email != null">
        <span>ICON</span>
        <span>{{aboutService.about.email}}</span>
      </div>
      <div *ngIf="aboutService.about.linkedin != null">
        <span>ICON</span>
        <span>{{aboutService.about.linkedin}}</span>
      </div>
      <div *ngIf="aboutService.about.github != null">
        <span>ICON</span>
        <span>{{aboutService.about.github}}</span>
      </div>
      <div *ngIf="aboutService.about.stackoverflow != null">
        <span>ICON</span>
        <span>{{aboutService.about.stackoverflow}}</span>
      </div>
    </div>
  </div>
</div>
