<div *ngIf="aboutService.about != null">
  <div class="right">
    <app-photos [photos]="aboutService.about.pictures" [width]="1"></app-photos>
    <div class="card get-connected">
      <div class="header">Get Connected</div>
      <div class="content">
        <div class="item" *ngIf="aboutService.about.email != null">
          <span class="icon icon-envelope"></span>
          <a href="mailto:{{aboutService.about.email}}">{{aboutService.about.email}}</a>
        </div>
        <div class="item inline" *ngIf="aboutService.about.linkedin != null">
          <span class="icon icon-social-linkedin" (click)="openNewTab('www.linkedin.com/in/' + aboutService.about.linkedin)"></span>
        </div>
        <div class="item inline" *ngIf="aboutService.about.github != null">
          <span class="icon icon-social-github" (click)="openNewTab('github.com/' + aboutService.about.github)"></span>
        </div>
        <div class="item inline" *ngIf="aboutService.about.stackoverflow != null">
          <span class="icon icon-menu" (click)="openNewTab('stackoverflow.com/u/' + aboutService.about.stackoverflow)"></span>
        </div>
      </div>
    </div>
  </div>
  <p>{{aboutService.about.text}}</p>
</div>
