@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
$side-bar-width: 240px;
$top-bar-height: 60px;

$screen-sm: 768px;

.top-bar {
  position: fixed; top: 0; z-index: 1;
  background-color: #fff;
  width: 100%;
  height: $top-bar-height;
  .hamburger {display: none;}
  .icon-menu {font-size: 24px; position: relative; top: 50%; transform: translateY(-50%);
    transition: all 0.3s;
  }
  .user-menu {
    height: 100%;
    position: relative;
    border-radius: 50%;
    img {
      display: inline-block; width: 36px; height: 36px; position: relative; top: 50%; transform: translateY(-50%);
      background: #F5A623;
      padding: 6px;
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }
  }
}

.side-bar {
  float: left;
  position: fixed;
  padding-top: $top-bar-height;
  width: $side-bar-width;
  height: 100%;
  background: linear-gradient(#9FDDFD, #056EC2);
  transition: all 0.225s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

  &.open {
    left: 0px !important;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      $side-bar-item-height: 70px;
      height: $side-bar-item-height;
      padding-left: 24px;
      text-align: left;
      &.selected {background-color: #F5A623;}

      span {
        position: relative;
        line-height: $side-bar-item-height;
        color: #fff; font-size: 20px; padding-right: 20px; z-index: 1;
      }
      a {
        padding-left: 64px;
        position: absolute; left: 0;
        color: #fff; font-size: 20px; font-weight: 300;
        display: inline-block;
        bottom: 0px;
        width: 100%;
        z-index: 0;
        line-height: $side-bar-item-height;

        &.active {
          background-color: #F5A623;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .side-bar {
    left: - $side-bar-width;
  }
  .top-bar {
    .hamburger {display: inline-block;}
  }
}
