<div class="col">
  <label for="name">Name</label>
  <input [(ngModel)]="item.name" type="text" class="form-control" id="name" required>
</div>
<div class="col">
  <label for="x_value">X Value</label>
  <input [(ngModel)]="item.x_value" type="number" class="form-control" id="x_value" required>
</div>
<div class="col">
  <label for="sort_order">Sort Order</label>
  <input (change)="sortChartItems()" [(ngModel)]="item.sort_order" type="number" class="form-control" id="sort_order" required>
</div>
<div class="col">
  <button (click)="removeChartItem()" class="btn btn-danger">Remove</button>
</div>
