<div class="project">
  <div class="year">
    <span *ngIf="shouldShowYear(project.id)">{{project.year}}</span>
    <div class="line"></div>
  </div>
  <div class="hoverable card project-info">
    <div class="top">
      <div class="top-text">
        <div class="header">
          <h2>{{project.name}}</h2>
          <p>{{project.season}} {{project.year}}</p>
          <p>{{project.technologies}}</p>
        </div>
        <app-photos [photos]="project.pictures" [width]="3"></app-photos>
        <div class="description">
          <span>{{project.description}}</span>
        </div>
      </div>
      <p *ngIf="project.demo_link != ''">{{project.demo_link}}</p>
      <button (click)="bottomVisible=!bottomVisible" class="more-details">More Details</button>
    </div>
    <div *ngIf="bottomVisible" class="bottom">
      <div class="hidden-sections">
        <div *ngFor="let section of project.hidden_sections">
          <h4>{{section.title}}</h4>
          <p>{{section.text}}</p>
        </div>
      </div>
      <button *ngIf="project.marketing_url != ''" (click)="visitMarketingSite()">{{project.marketing_url}}</button>
    </div>
  </div>
</div>
