<div class="project">
  <div class="year">
    <span *ngIf="shouldShowYear(project.id)">{{project.year}}</span>
    <div class="line"></div>
  </div>
  <div class="hoverable card project-info">
    <div class="top">
      <div class="top-text">
        <div class="header">
          <h2>{{project.name}}</h2>
        </div>
        <app-photos [photos]="project.pictures" [width]="2"></app-photos>
        <div class="content">
          <p class="technologies">{{project.technologies}}</p>
          <p>{{project.season}} {{project.year}}</p>
          <div class="description">
            <span>{{project.description}}</span>
          </div>
          <button type="button" (click)="bottomVisible=!bottomVisible" class="more-details">LEARN MORE</button>
        </div>
      </div>
      <p *ngIf="project.demo_link != ''">{{project.demo_link}}</p> <!-- Is this allowed to go in top-text? -->
    </div>
    <div *ngIf="bottomVisible" class="bottom">
      <div class="hidden-sections">
        <div *ngFor="let section of project.hidden_sections">
          <h4>{{section.title}}</h4>
          <p>{{section.text}}</p>
        </div>
      </div>
      <button *ngIf="project.marketing_url != ''" (click)="visitMarketingSite()">{{project.marketing_url}}</button>
    </div>
  </div>
</div>
