.project{
  display: flex;
  width: 100%;
  float: left;
  margin: 20px;
  .year{
    min-height: 100%;
    width: 20%;
    float: left;
    clear: none;
    color: #DDDDDD;
    font-size: 36px;
    overflow: hidden;

    span {height: 40px;}
    .line {
      width: 2px;
      margin-left: 40px;
      background-color: #E8E8E8;
      height: 100%;
    }
  }
  .project-info {
    float: left;
    width: 75%;
    margin-top: 8px;
    padding: 20px;
    text-align: center;
    p {
      margin: 5px;
    }
    .description{
      clear: both;
    }
  }
}
