<div *ngFor="let item of dashboardService.dashboardItems" class="dashboard-item card hoverable">
  <div class="header">
    {{item.header_text}}
  </div>
  <div class="body">
    <app-simple-dashboard-body *ngIf="item.type == 'simple'" [body]="item.body"></app-simple-dashboard-body>
    <app-list-dashboard-body *ngIf="item.type == 'list'" [body]="item.body"></app-list-dashboard-body>
    <app-horizontal-bar-chart-dashboard-body *ngIf="item.type == 'horizontal_bar'" [body]="item.body"></app-horizontal-bar-chart-dashboard-body>
  </div>
</div>
