$title-width: 120px;
.chart-row{
  clear: both;

  .right {
    width: calc(100% - 120px);
  }

  div {
    float: left;

    &.title {
      width: $title-width;
    }

    &.bar {
      background-color: #51E2C4;
      height: 6px;
      border-radius: 3px;
      margin-top: 9px;
    }
  }
}
.x-labels {
  box-sizing: content-box;
  float: left;
  clear: both;
  width: calc(100% - 120px);
  padding-left: $title-width;

  div {
    color: #888;
    font-size: 12px;

    &.left {float: left;}
    &.right {float: right;}
    &.middle {float: left;}

    // &:nth-of-type(1) {text-align: left;}
    // &:nth-of-type(2) {text-align: right;}
  }
}
